@{
	ViewBag.Title = "فهرست گروه ها";
}

<h2>@ViewBag.Title</h2>

<div ng-app="groupslistApp" ng-controller="groupsListCtrl">
</div>

@section scripts{
	<script src="~/Scripts/App/groupsList.js"></script>
}